@font-face {
  font-family: Roboto-Regular;
  src: url("/public/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("/public/fonts/Roboto/Roboto-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(1fr, auto);
  grid-template-areas:
    "header"
    "menu"
    "hero"
    "contenido "
    "articulo "
    "footer";
}

header {
  grid-area: header;

  nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;

    p {
      font-family: "Roboto-Bold", sans-serif;
      color: #824e3c;
      font-size: xx-large;
    }

    img {
      flex-basis: 9.375em;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      justify-content: center;

      li {
        list-style: none;

        a {
          text-decoration: none;
          font-weight: 200;
          color: #824e3c;
        }
      }
    }
  }
}

.hero {
  grid-area: hero;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;

  picture {
    img {
      border-radius: 12px;
      width: 80vw;
      height: 100%;
      object-fit: cover;
    }
  }

  .hero-content {
    width: 80vw;
    color: white;
    /* text-align:left; */
    position: absolute;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;

    h1 {
      font-size: 2.5em;
      font-weight: bold;
    }

    h3 {
      font-size: 2.5em;
    }

    h5 {
      font-size: 2.5em;
    }
  }
}

.menu {
  grid-area: menu;
  display: flex;
  position: sticky;
  border-radius: 12px;
  top: 0.85rem;
  z-index: 999;
  margin: auto;
  margin-top: 2rem;
  max-width: 90vw;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.35);
  font-size: larger;

  ul {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
    padding: 10px;
    align-items: center;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #824e3c;
      }
    }
  }
}

.contenido {
  grid-area: contenido;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem auto;
  max-height: fit-content;
  max-width: 80%;
  border-radius: 12px;
  padding: 0.25rem;

  video {
    max-width: 60%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin: 12px auto;
    border-radius: 24px;
  }

  p {
    color: #824e3c;
    font-style: italic;
    max-height: 50%;
    text-align: justify;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
}

.articulo {
  grid-area: articulo;
  display: flex;
  overflow-x: scroll;
  max-width: 100%;
  gap: 1rem;
  margin: auto 1rem;

  img {
    border-radius: 12px;
    max-width: 75%;
  }
}

footer {
  grid-area: footer;
  min-height: 10vh;
  display: flex;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  justify-content: space-between;
  align-items: end;
  color: #824e3c;

  p {
    text-align: center;
    align-items: center;
    font-size: large;
  }

  nav {
    padding: 0.25rem;
    margin: 0 12px;
    flex-wrap: wrap;

    ul {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 1.25em;

      li {
        list-style: none;
        text-align: center;
        margin: 0 auto;

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}
