@font-face {
  font-family: Roboto-Regular;
  src: url("/public/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("/public/fonts/Roboto/Roboto-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
}

body {
  background-image: url("/public/cookie.svg");
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "header"
    "main "
    "main "
    "main "
    "main "
    "footer";
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-basis: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 32px;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  margin: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  p {
    font-family: "Roboto-Bold", sans-serif;
    color: #824e3c;
  }

  img {
    flex-basis: 9.375em;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-weight: 200;
  color: #824e3c;
}